<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/red.css">
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.8.0/webcomponents-loader.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>

    <nav>
        <span
            hx-trigger="load, click"
            hx-get="/home"
            hx-target="#main"
            hx-swap="innerHTML"
        >
                Home
        </span>
        <span
            hx-get="/pitchdeck"
            hx-target="#main"
            hx-swap="innerHTML"
        >
                Pitchdeck
        </span>
        <span
            hx-get="/team"
            hx-target="#main"
            hx-swap="innerHTML"
        >
                Team
        </span>
        <span
            hx-get="/guestbook"
            hx-target="#main"
            hx-swap="innerHTML"
        >
                Gästebuch
        </span>
    </nav>

    <main id="main">

    </main>
    <!--
    <script type="module" src="/static/js/my-counter.js"></script>
    -->
</body>
</html>
