<h1>Pitchdeck</h1>

<div id="slide">
    <img src="/static/png/Folie1.PNG" alt="Pitchdeckfolie">
</div>

<button
    id="prevSlide"
    hx-post="/previousslide"
    hx-swap="innerHTML"
    hx-target="#slide"
>
    <
</button>

<button
    id="nextSlide"
    hx-post="/nextslide"
    hx-swap="innerHTML"
    hx-target="#slide"
>
    >
</button>

<script>
  document.addEventListener("keydown", function(event) {
    if (event.key === "ArrowRight") {
      htmx.trigger("#nextSlide", "click");
    } else if (event.key === "ArrowLeft") {
      htmx.trigger("#prevSlide", "click");
    }
  });
</script>

