<script>
  document.addEventListener("keydown", function(event) {
    if (event.key === "ArrowRight") {
      htmx.trigger("#nextSlide", "click");
    } else if (event.key === "ArrowLeft") {
      htmx.trigger("#prevSlide", "click");
    }
  });
</script>

<title hx-swap-oob="true">Pitchdeck</title>

<h1>Pitchdeck</h1>

<div id="slide">
    <img src="/static/png/Folie{{.CurrentSlideNumber}}.PNG" alt="Pitchdeck Foliennummer {{.CurrentSlideNumber}}">
</div>

<button
    id="prevSlide"
    hx-get="/previousslide"
    hx-swap="innerHTML"
    hx-target="#slide"
>
    <
</button>

<span id="pageNumber">{{.CurrentSlideNumber}}</span>

<button
    id="nextSlide"
    hx-get="/nextslide"
    hx-swap="innerHTML"
    hx-target="#slide"
>
    >
</button>

<h2>Kommentare</h2>

<button
    hx-get="/newcomment"
    hx-swap="innerHTML"
    hx-target="#main"
>
    Neu
</button>

<div id="comments">

    {{range .Comments}}
        {{if eq .SlideNumber $.CurrentSlideNumber}}
            <h3>{{.Name}}</h3>
            <div>{{.Comment}}</div>
        {{end}}
    {{end}}
</div>
